@import '../../sass/_dependencies.scss';

.mainContainer {
  display: flex;
  flex-direction: row;

  .allFileContainer {
    width: 29%;
  }

  .uploaderContainer {
    width: 70%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .selectorContainer {
      input[type='file'] {
        display: none;
      }

      .customFileUpload {
        border: 1px solid $blueB;
        display: inline-block;
        padding: 16px 12px;
        cursor: pointer;
        height: 20px;

        &:hover {
          background-color: $blueA;
        }
      }

      .uploadAWS {
        border: 1px solid $blueB;
        display: inline-block;
        padding: 16px 12px;
        cursor: pointer;
        height: 20px;
        margin-left: 25px;

        border: 1px solid gree;
        background-color: green;
        color: white;

        &:hover {
          background-color: $blueA;
        }
      }
    }

    .fileContainer {
      margin-top: 50px;
      position: relative;

      .fileInfo {
        position: absolute;
        bottom: -30px;
        margin-top: 20px;
        margin-left: 2px;
        padding: 5px;
        font-size: 16px;
        font-style: italic;
        background-color: $blueA;
      }

      img {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
        width: 350px;
      }

      .documentFile {
        img {
          width: 60px;
          height: 60px;
        }
      }

      i {
        font-size: 32px;
      }
    }
  }
}
