// Colors storage

// White
$white: #FFFFFF;

// Black
$black: #000000;
$ligthBlack: #121F38;

// Blue variations
$blueA: #EAF1F4;
$blueB: #CCC;

// Orange variations
$orangeA: #C78665;

// Gray variations
$grayA: #E1E1E1;