// Colors storage

// White
$white: #ffffff;

// Black
$black: #000000;
$ligthBlack: #121f38;

// Blue variations
$blueA: #eaf1f4;
$blueB: #ccc;
$blueC: #499fca;
$blueD: #3088b5;

// Orange variations
$orangeA: #c78665;

// Gray variations
$grayA: #e1e1e1;

// Green Variables
$greenA: #3c763d;
$greenB: #d6e9c6;
$greenC: #dff0d8;
