@import '../../sass/_dependencies.scss';

.fileList {
  height: 100vh;
  background-color: $blueA;

  H2 {
    color: $orangeA;
    margin: 0px;
    padding: 15px;
  }

  span {
    padding: 30px;
  }

  .files {
    li {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        color: $ligthBlack;
        font-size: 13px;
        font-style: italic;

        &:first-child {
          font-size: 16px;
          padding: 0px;
          font-weight: 600;
          margin-right: 5px;
          font-family: inherit;
        }
      }

      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
