@import '../../../sass/_dependencies.scss';

.messageContainer {
  border-radius: 10px;
  font-size: 12px;
  margin-top: 40px;
  padding: 18px;
  color: $greenA;
  background-color: $greenC;
  border-color: $greenB;
}
